@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

a {
  color: #45B8C9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #1A1D24;
}
::-webkit-scrollbar-thumb {
  background: #2A2F3A;
  border-radius: 3px;
}
